<header class="site-header">
    <div class="header-content">
        <a href="/" class="logo-and-title">
            <img src="assets/logo.png" alt="Logo" class="logo">
            <div class="project-name">PHRINIFLUENT</div>
        </a>
        <nav class="navigation">
            <ul>
                <li><a href="/word-groups">Word Groups</a></li>
                <li><a href="/about">About Us</a></li>
                <!-- This link will change based on authentication state -->
                <li><a href="/auth">Sign Up/Log In</a></li>
            </ul>
        </nav>
    </div>
</header>
