.auth-page {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 5px;

    h1 {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 20px;
        text-align: left;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 10px;
            font-size: 1.2rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 1.5rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
            background-color: darken(#007bff, 10%);
        }
    }

    .signout-btn {
        background-color: #dc3545; // Red color for sign out
        &:hover {
            background-color: darken(#dc3545, 10%);
        }
    }

    @media (min-width: 1920px) {
        h1 {
            font-size: 2vw;
        }

        p, .form-group label {
            font-size: 1.1vw;
        }
    }
}
