<div class="flex justify-center items-center min-h-screen">
    <div class="max-w-xl w-full mx-auto p-6 shadow-2xl rounded-lg">
        <div *ngIf="word; else loading">
            <h1 class="text-center">Word Quiz</h1>
            <p *ngIf="word.descriptions && word.descriptions.length">
                <strong>Description (in {{ word.descriptions[0].language.language_name }}):
                </strong> {{ word.descriptions[0].description_text }}
            </p>
            <div class="form-group mb-6">
                <label for="userInput" class="block mb-1">Your Answer:</label>
                <input type="text" id="userInput" [(ngModel)]="userInput" placeholder="Type your answer here">
            </div>
            <!-- Display the response message -->
            <p *ngIf="responseMessage">{{ responseMessage }}</p>
            <div class="flex justify-center space-x-4">
                <!-- Button for getting a new word -->
                <button class="blue-button" (click)="getNewWord()">Get New Word</button>
                <!-- Button for checking the input -->
                <button class="green-button" (click)="checkAnswer()">Check Answer</button>
            </div>
        </div>

        <ng-template #loading>
            <h1 class="text-center">Loading...</h1>
        </ng-template>
    </div>
</div>
