<div class="about-page">
    <h1>About PhriniFluent</h1>
    <p>
        PhriniFluent is an open-source initiative dedicated to the promotion of the Phrini Verse — a captivating universe centered around Phrini the Camel. Our vision extends beyond just a language learning platform; we are actively developing a comprehensive ecosystem that includes a manga series, visual storytelling, a suite of productivity applications, and engaging games.
    </p>
    <p>
        At the heart of PhriniFluent lies a commitment to community and collaboration. The project is brought to life by the combined efforts of developers Anton Potapov and Dmitry Trofimushkin, whose passion for the Phrini Verse fuels innovation and creativity.
    </p>
    <p>
        Your support, feedback, and ideas are invaluable to us as we forge ahead on this exciting journey. Every contribution helps us to build a richer experience and a more vibrant community. Join us in shaping the world of Phrini the Camel — where learning, imagination, and adventure thrive together.
    </p>
    <p>Get involved and find out more about our work:</p>
    <ul>
        <li><a href="https://github.com/Flagro" target="_blank">Anton Potapov on GitHub</a></li>
        <li><a href="https://github.com/Swel1a" target="_blank">Dmitry Trofimushkin on GitHub</a></li>
    </ul>
    <div class="about-image">
        <img src="assets/plain_logo.png" alt="Phrini the Camel">
    </div>
</div>
