<div class="word-groups">
    <!-- Public Word Groups -->
    <section class="public-word-groups">
      <h2>Public Word Groups</h2>
      <div *ngFor="let group of publicWordGroups" class="word-group">
        <h3>{{ group.name }}</h3>
        <!-- Add more properties as needed -->
        <ul>
          <li *ngFor="let word of group.words">{{ word.text }}</li>
        </ul>
      </div>
    </section>
  
    <!-- Private Word Groups -->
    <section class="private-word-groups">
      <h2>Private Word Groups</h2>
      <div *ngIf="!isLoggedIn">
        <p>Please <a routerLink="/login">log in</a> to view your private word groups.</p>
      </div>
      <div *ngIf="isLoggedIn">
        <div *ngIf="privateWordGroups.length === 0">You have no private word groups.</div>
        <div *ngFor="let group of privateWordGroups" class="word-group">
          <h3>{{ group.name }}</h3>
          <!-- Add more properties as needed -->
          <ul>
            <li *ngFor="let word of group.words">{{ word.text }}</li>
          </ul>
        </div>
      </div>
    </section>
</div>
