<div>
    <footer class="site-footer py-5 shadow-lg text-center">
        <div class="footer-content">
            <p class="m-0 text-lg">
                Contact us at: 
                <a href="mailto:flagreyish@gmail.com">flagreyish@gmail.com</a>
                <span class="text-gray-600"> | </span>
                Telegram: <a href="https://t.me/flagreyish">@flagreyish</a>
                <span class="text-gray-600"> | </span>
                Language: English
                <!-- Placeholder for future language selection functionality -->
            </p>
        </div>
        <div class="copyright mt-2">
            <p class="text-lg text-gray-600">&copy; 2023 Anton Potapov and Dmitry Trofimushkin. All rights reserved.</p>
        </div>
    </footer>
</div>
