.site-footer {
    background: #f8f9fa;
    padding: 20px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

    .footer-content {
        p {
            margin: 0;
            font-size: 1.25rem; // Increased base font size.
            a {
                color: #007bff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            // Adding a separator style for the links
            a:not(:last-child)::after {
                content: '|';
                margin: 0 10px;
                color: #666;
            }
        }
    }

    .copyright {
        margin-top: 10px;
        p {
            font-size: 1.25rem; // Increased base font size.
            color: #666;
        }
    }

    // Media query for larger screens
    @media (min-width: 1920px) {
        .footer-content p {
            font-size: 1vw; // Adjusted for better readability on large screens.
        }

        .copyright p {
            font-size: 1vw; // Adjusted for better readability on large screens.
        }
    }
}
