// Reset the default browser margin and padding
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

// Main page styles
.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px); // subtract the header height if it's fixed
    padding: 40px;
    box-sizing: border-box;

    .content-with-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 1200px;
        gap: 20px; // Adjust space between text-content and image-container

        @media (min-width: 768px) {
            flex-direction: row;
            text-align: left;
        }

        .text-content {
            h1 {
                font-size: 4rem; // Large and clear title
                color: #2c3e50;
            }

            p {
                font-size: 1.5rem; // Readable text size
                line-height: 1.6;
                margin-bottom: 1rem;
                color: #34495e;
            }

            a {
                color: #3498db;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }

            .start-learning-button {
                font-size: 1.5rem;
                padding: 10px 20px;
                background-color: #2ecc71;
                border: none;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #27ae60;
                }
            }
        }

        .image-container {
            img {
                max-height: 500px; // Adjust the size as needed
                width: auto;
                display: block;
                margin-top: 20px;

                @media (min-width: 768px) {
                    margin-top: 0;
                }
            }
        }
    }

    // Media query for larger screens
    @media (min-width: 1920px) {
        .text-content {
            h1 {
                font-size: 3vw;
            }

            p {
                font-size: 1.25vw;
            }

            .start-learning-button {
                font-size: 1.25vw;
                padding: 1vw 2vw;
            }
        }

        .image-container {
            img {
                max-height: 60vh; // Adjust for large screens
            }
        }
    }
}
