<div class="flex justify-center items-center min-h-screen">
    <div class="flex flex-col md:flex-row items-center md:items-start max-w-4xl mx-auto p-4">
        <div class="text-center md:text-left md:w-4/5">
            <h1>PhriniFluent 🐫</h1>
            <p>
                <strong>PhriniFluent</strong> is an opensource, OpenAI-powered language learning project. 
                Phrini the camel 🐪 will be your personal assistant in this journey. Generate words of 
                any language - From Spanish to duck language 🦆 with the use of AI. Add your own words 
                that you want to learn, extract words that you might want to learn based on your level 
                from texts, and many more!
            </p>
            <p>
                You can use this website for this but we also have a telegram bot that syncs with your 
                progress here at <a href="https://t.me/PhriniFluentBot">@PhriniFluentBot</a> 🤖.
            </p>
            <p>
                This project is developed by Anton Potapov 
                <a href="https://github.com/Flagro">github.com/Flagro</a> and Dmitry Trofimushkin 
                <a href="https://github.com/Swel1a">github.com/Swel1a</a>.
            </p>
            <p>
                Discover more about Phrini Verse at 
                <a href="http://flagrotown.com">flagrotown.com</a>!
            </p>
            <button routerLink="/groups" class="green-button">
                Start learning new words!
            </button>
        </div>
        <div class="md:w-1/5 flex justify-center md:justify-end mt-4 md:mt-0">
            <img src="assets/long_phrini.png" alt="Phrini" class="max-w-xs md:max-w-sm md:max-h-[32rem]">
        </div>
    </div>
</div>
