<div class="main-page">
    <div class="content-with-image">
        <div class="text-content">
            <h1>PhriniFluent 🐫</h1>
            <p>
                <strong>PhriniFluent</strong> is an opensource, OpenAI-powered language learning project. 
                Phrini the camel 🐪 will be your personal assistant in this journey. Generate words of 
                any language - From Spanish to duck language 🦆 with the use of AI. Add your own words 
                that you want to learn, extract words that you might want to learn based on your level 
                from texts, and many more!
            </p>
            <p>
                You can use this website for this but we also have a telegram bot that syncs with your 
                progress here at <a href="https://t.me/PhriniFluentBot">@PhriniFluentBot</a> 🤖.
            </p>
            <p>
                This project is developed by Anton Potapov 
                <a href="https://github.com/Flagro">github.com/Flagro</a> and Dmitry Trofimushkin 
                <a href="https://github.com/Swel1a">github.com/Swel1a</a>.
            </p>
            <p>
                Discover more about Phrini Verse at 
                <a href="http://flagrotown.com">flagrotown.com</a>!
            </p>
            <button class="start-learning-button">Start learning new words!</button>
        </div>
        <div class="image-container">
            <img src="assets/long_phrini.png" alt="Phrini">
        </div>
    </div>
</div>
